{%  extends 'blog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="container">
        <div class="card mb-4 box-shadow ">
            <div class="card-header d-flex align-items-center justify-content-center h-80">
                <h3 class="my-0 font-weight-normal text-truncate">Блог "{{ object|title }}" ({{ object.slug }})</h3>
            </div>
            <div class="card-body">
                  <p>
                      {{ object.description }}
                  </p>
            </div>
            <img class="card-img-top"
                 src="{{ object.photo|mymedia }}"
                 alt="Card image cap">
            <div class="card-footer">
                Просмотры: {{ object.views_count }}
            </div>
        </div>
    </div>
{% endblock %}
