{% extends 'catalog/base.html' %}
{% block content %}
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">{{ object.name|title }}</p>
                <p class="card-text">{{ object.description|slice:":100" }}</p>
                <a class="p-2 btn btn-outline-primary"
                   href="{% url 'catalog:category_detail' object.pk %}">Посмотреть</a>
                <a class="p-2 btn btn-outline-primary"
                   href="{% url 'catalog:category_update' object.pk %}">Изменить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
