{% extends 'catalog/base.html' %}
{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ object.description|title }}</li>
                    {% if user.is_authenticated %}
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:products_list' object.pk %}">Посмотреть</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


