{% extends 'catalog/base.html' %}
{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ object.description|title }}</li>
                </ul>
                {% if object.pk == 1 %}
                <a class="p-2 btn btn-outline-primary" href="/1/product_detail/">Посмотреть</a>
                {% elif object.pk == 2 %}
                <a class="p-2 btn btn-outline-primary" href="/2/product_detail/">Посмотреть</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


