{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<!--{% for object in object_list %}-->
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">{{ object.name|title }}</h1>
        <h2 class="display-8 font-weight-normal">{{ object.description|slice:":100" }}</h2>
        <img class="card-img-top"
                 src="{{ object.photo|mymedia }}"
                 alt="Card image cap">
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
<!--{% endfor%}-->
{% endblock %}

